﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SiteWeb.ViewModels.SiteVM
<script src="~/Scripts/modernizr.custom.63321.js"></script>

<div class="fleft">
    @using (Html.BeginForm("AfficherCours", "Actifs"))
    {
        
        @Html.DropDownList("cd-dropdown", (SelectList)ViewBag.ListeDesActifs, new { @class = "cd-select" })
        <input class="boutonListe" type="submit" value="Afficher le cours" />
    }
</div>

<div id="page">
    <div id="content">
        <div class="contentbg">
            <div class="post">
                <div class="entry">
                    <h2 class="title">Liste des actifs de votre Fonds</h2>
                    
                    </div>
                </div>
                <div>
                    <h3>@SiteWeb.Models.Actif.mapNomActif[@Model.k.nomActif].nom</h3>
                </div>
            <div style="clear: both;">&nbsp;</div>
            </div>
        <div style="clear: both;">&nbsp;</div>
        </div>

        <div style="clear: both;">&nbsp;</div>
 </div>


<div id="stockChart" style="height: 700px"></div>

<script type="text/javascript">
        $(document).ready(function () {
            chartInitialize("stockChart", '@Url.Action("GetSerie", "Actifs")');
        });
</script>

<script type="text/javascript" src="~/Scripts/jquery.dropdown.js"></script>
<script type="text/javascript">

    $(function () {

        $('#cd-dropdown').dropdown({
            gutter: 5,
            stack: false,
            delay: 100,
            slidingIn: 100
        });

    });

</script>