﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="splash"><img src="~/Content/images/pics01.jpg" width="980" height="250" alt="" /></div>
<div id="page">
    <div id="content">
        <div class="contentbg">
            <div class="post">
                <div class="entry">
                    <h2 class="title">Bienvenue sur le site de gestion de votre Fonds</h2>
                    <div class="descr">
                        <h3>KOZEÏ n°2</h3>
                        FIA de droit français</br>
                        Fonds d’investissement à vocation générale</br>
                        Code ISIN FR0011790609</br>
                        Société de Gestion : Natixis Asset Management - Groupe BPCE</br> </br>
                        Pour plus d'informations sur le Fonds, <a href="~/Content/KOZEI.pdf">cliquez ici</a>.</br>
                    </div>
                    <h3></h3>
                    
                    <div class="undertitle">
                        <p>Sur ce site vous allez pouvoir :</p>
                        <ul>
                            <li>mettre à jour les données dont vous avez besoin,</li>
                            <li>gérer votre portefeuille,</li>
                            <li>valoriser votre produit structuré.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div style="clear: both;">&nbsp;</div>
        </div>
    </div>
    <!-- end #content -->
    <div style="clear: both;">&nbsp;</div>
</div>