.boutonListe {
	border-radius:12px 0 12px 0;
	background: #f5f5f5;
	border:none;
	color:#378C32;
	font:bold 12px;
	font-size: 1em;
	font-family: 'Abel', sans-serif;
	padding:6px 6px 6px 6px;
	border:1px solid #ccc;
	margin-left: 60px;
	margin-bottom: 10px;
	align: center;
}

.post {
	border: none;
}

.post .entry {
	text-align: justify;
	margin-bottom: 5px;
	padding: 10px 0px 0px 0px;
}

.cd-dropdown,
.cd-select {
	position: relative;
	width: 200px;
	margin: 20px auto;
	display: block;
}

.cd-dropdown > span {
	width: 100%;
	height: 20px;
	line-height: 25px;
	color: #696969;
	font-weight: 700;
	font-size: 16px;
	background: #fff;
	display: block;
	padding: 0 50px 0 30px;
	position: relative;
	cursor: pointer;
}

.cd-dropdown > span:after {
	content: '\25BC';
	position: absolute;
	right: 0px;
	top: 15%;
	width: 15px;
	text-align: center;
	font-size: 12px;
	padding: 10px;
	height: 70%;
	line-height: 24px;
	border-left: 1px solid #ddd;
}

.cd-dropdown.cd-active > span:after {
	content: '\25B2';
}

.cd-dropdown ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
}

.cd-dropdown ul li {
	display: block;
}

.cd-dropdown ul li span {
	width: 100%;
	background: #fff;
	line-height: 25px;
	padding: 0 30px 0 75px;
	display: block;
	color: #696969;
	cursor: pointer;
	font-weight: 700;
}

.cd-dropdown > span,
.cd-dropdown ul li span {
	-webkit-backface-visibility: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cd-dropdown > span span[class^="icon-"],
.cd-dropdown > span span[class*=" icon-"]{
	padding: 0 30px 0 45px;
}

/* Select fallback styling */
.cd-select {
	border: 1px solid #ddd;
}

.cd-dropdown ul {
	position: absolute;
	top: 0px;
	width: 100%;
}

.cd-dropdown > span,
.cd-dropdown ul li {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.cd-dropdown ul li {
	position: absolute;
	width: 100%;
	pointer-events: none;
}

.cd-active.cd-dropdown > span {
	color: #228B22;
}

.cd-active.cd-dropdown ul li {
	pointer-events: auto;
}

.cd-active.cd-dropdown ul li span {
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}

.cd-active.cd-dropdown ul li span:hover {
	background: #228B22;
	color: #fff;
}








.cd-dropdown1,
.cd-select {
	position: relative;
	width: 200px;
	margin: 20px auto;
	display: block;
}

.cd-dropdown1 > span {
	width: 100%;
	height: 20px;
	line-height: 25px;
	color: #696969;
	font-weight: 700;
	font-size: 16px;
	background: #fff;
	display: block;
	padding: 0 50px 0 30px;
	position: relative;
	cursor: pointer;
}

.cd-dropdown1 > span:after {
	content: '\25BC';
	position: absolute;
	right: 0px;
	top: 15%;
	width: 15px;
	text-align: center;
	font-size: 12px;
	padding: 10px;
	height: 70%;
	line-height: 24px;
	border-left: 1px solid #ddd;
}

.cd-dropdown1.cd-active > span:after {
	content: '\25B2';
}

.cd-dropdown1 ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
}

.cd-dropdown1 ul li {
	display: block;
}

.cd-dropdown1 ul li span {
	width: 100%;
	background: #fff;
	line-height: 25px;
	padding: 0 30px 0 75px;
	display: block;
	color: #696969;
	cursor: pointer;
	font-weight: 700;
}

.cd-dropdown1 > span,
.cd-dropdown1 ul li span {
	-webkit-backface-visibility: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cd-dropdown1 > span span[class^="icon-"],
.cd-dropdown1 > span span[class*=" icon-"]{
	padding: 0 30px 0 45px;
}

/* Select fallback styling */
.cd-select {
	border: 1px solid #ddd;
}

.cd-dropdown1 ul {
	position: absolute;
	top: 0px;
	width: 100%;
}

.cd-dropdown1 > span,
.cd-dropdown1 ul li {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.cd-dropdown1 ul li {
	position: absolute;
	width: 100%;
	pointer-events: none;
}

.cd-active.cd-dropdown1 > span {
	color: #228B22;
}

.cd-active.cd-dropdown1 ul li {
	pointer-events: auto;
}

.cd-active.cd-dropdown1 ul li span {
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}

.cd-active.cd-dropdown1 ul li span:hover {
	background: #228B22;
	color: #fff;
}



.fleft {
	padding-top: 80px;
	float: left;
}

@media screen and (max-width: 730px){
	.fleft {
		width: 100%;
		float: none;
		text-align: center;
	}
} 

#stockChart {
	margin-left: 320px;
	margin-right: 320px;
}