﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page">
    <div id="content">
        <div class="contentbg">
            <div class="post">
                <div class="entry">
                    @if (@Model.message != null) { 
                        <div class="message">
                            @Model.message
                        </div>
                    }
                    <h2 class="title">Couverture de votre Fonds</h2>
                    <table class="table">
                        <thead class="titreTableau">
                            <tr>
                                <td></td>
                                <td>Prix du produit</td>
                                <td>Valeur du pf de couverture</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="titreTableau">Dernière connexion </br>
                                (@Model.jourDernierRebal.ToString("dd MMMM yyyy"))</td>
                                <td>@SiteWeb.Models.DonneesDernierRebalancement.lastData.lastPrice.ToString("0.0000")</td>
                                <td>@SiteWeb.Models.DonneesDernierRebalancement.lastData.lastValPf.ToString("0.0000")</td>
                            </tr>

                            <tr>
                                <td class="titreTableau">Aujourd'hui</td>
                                <td>
                                    @SiteWeb.Models.DonneesNouveauPricing.data.newPrice.ToString("0.0000")
                                </td>
                                <td>@SiteWeb.Models.DonneesNouveauPricing.data.newValPf.ToString("0.0000")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <h3>Voici la composition de votre portefeuille :</h3>
                <div class="texte">
                    La dernière colonne représente la potentielle nouvelle composition 
                    de votre portefeuille si vous souhaitez le rebalancer aujourd'hui. 
                    Si vous souhaitez sauvegarder cette nouvelle composition, cliquez 
                    sur le bouton prévu à cet effet en bas de cette page.
                </div>
                @using (Html.BeginForm("SauvegarderNouvelleCompo", "Pricing"))
                {
                    <input class="boutonSave" type="submit" value="Sauvegarder nouvelle composition" />
                }
                <table class="table table-striped">
                    <thead class="titreTableau">
                        <tr>
                            <td>Nom de l'actif</td>
                            <td>Cours</td>
                            <td>Quantité</td>
                            <td>Variation</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @SiteWeb.Models.Actif.mapNomActif.Values)
                        {
                            <tr>
                                <td class="titreTableau">@item.nom</td>
                                <td>@item.cours_courant.ToString("0.0000")</td>
                                <td>@item.quantité.ToString("0.0000")</td>
                                <td class ="red">@item.variation_delta.ToString("0.0000")</td>
                            </tr>
                        }
                        @foreach (var item in @SiteWeb.Models.ActifSansRisqueEtranger.mapNomActifSansRisqueEtranger.Values)
                        {
                            <tr>
                                <td class="titreTableau">@item.devise</td>
                                <td>@item.cours.ToString("0.0000")</td>
                                <td>@item.quantité.ToString("0.0000")</td>
                                <td class="red">@item.variation_delta.ToString("0.0000")</td>
                            </tr>
                        }
                    </tbody>
                </table>

                
            </div>
        </div>
    </div>
</div>
<div style="clear: both;">&nbsp;</div>
