﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page">
    <div id="content">
        <div class="contentbg">
            <div class="post">
                <div class="entry">
                    <h2 class="title">Couverture de votre Fonds</h2>
                    @if (@Model.message != null)
                    {
                        <div class="message">
                            @Model.message
                        </div>
                    }

                    <table class="table">
                        <thead class="titreTableau">
                            <tr>
                                <td></td>
                                <td>Prix théorique du produit</td>
                                <td>Valeur du pf de couverture</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="titreTableau">Aujourd'hui </br>
                                (@Model.jourDernierRebal.ToString("dd MMMM yyyy"))</td>
                                <td>@SiteWeb.Models.DonneesNouveauPricing.data.newPrice.ToString("0.0000")</td>
                                <td>@SiteWeb.Models.DonneesNouveauPricing.data.newValPf.ToString("0.0000")</td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <h3>Voici la composition de votre portefeuille avec votre nouvelle couverture :</h3>

                <table class="table table-striped">
                    <thead class="titreTableau">
                        <tr>
                            <td>Nom de l'actif</td>
                            <td>Cours</td>
                            <td>Quantité</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @SiteWeb.Models.Actif.mapNomActif.Values)
                        {
                            <tr>
                                <td class="titreTableau">@item.nom</td>
                                <td>@item.cours_courant.ToString("0.0000")</td>
                                <td>@item.quantité_rebal.ToString("0.0000")</td>
                            </tr>
                        }
                        @foreach (var item in @SiteWeb.Models.ActifSansRisqueEtranger.mapNomActifSansRisqueEtranger.Values)
                        {
                            <tr>
                                <td class="titreTableau">@item.devise</td>
                                <td>@item.cours.ToString("0.0000")</td>
                                <td>@item.quantité_rebal.ToString("0.0000")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div style="clear: both;">&nbsp;</div>

