﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/modernizr.custom.63321.js"></script>

<div id="page">
    <div id="content">
        <div class="contentbg">
            <div class="post">
                <div class="entry">
                    <h2 class="title">Paramètres financiers de vos actifs</h2>
                </div>
                <h3>Choisissez deux actifs pour afficher leur corrélation : </h3>
                <div>
                    @using (Html.BeginForm("Correlation", "DonneesFinancieres"))
                    {
                        @Html.DropDownList("cd-dropdown1", (SelectList)ViewBag.ListeDesActifs, new { @class = "cd-select" })
                        @Html.DropDownList("cd-dropdown2", (SelectList)ViewBag.ListeDesActifs, new { @class = "cd-select" })
                        <input class="boutonCorrel" type="submit" value="Calculer correlation" />
                    }
                </div>
                @if (@Model.k.correl != 0)
                {
                    <p class="message">Corrélation entre  @SiteWeb.Models.Actif.mapNomActif[@Model.k.correlNom1].nom et @SiteWeb.Models.Actif.mapNomActif[@Model.k.correlNom2].nom = @Model.k.correl</p>
                }

                <h3>Voici les volatilités de vos actifs : </h3>
                <table class="table table-striped">
                    <thead class="titreTableau">
                        <tr>
                            <td>Nom de l'actif</td>
                            <td>Cours</td>
                            <td>Volatilité</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @SiteWeb.Models.Actif.mapNomActif.Values)
                        {
                            <tr>
                                <td class="titreTableau">@item.nom</td>
                                <td>@item.cours_courant.ToString("0.0000")</td>
                                <td>@item.volatilite.ToString("0.0000")</td>
                            </tr>
                        }
                        @foreach (var item in @SiteWeb.Models.ActifSansRisqueEtranger.mapNomActifSansRisqueEtranger.Values)
                        {
                            <tr>
                                <td class="titreTableau">@item.devise</td>
                                <td>@item.cours.ToString("0.0000")</td>
                                <td>@item.volatilite.ToString("0.0000")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @*<table>
                
                <caption>Correlation</caption>
               
                <tbody>
                    @foreach (var item in @SiteWeb.Models.Actif.mapNomActif.Values)
                    {
                        <tr>
                            @foreach (var val_corr in @item.correlation)
                            {
                                <td>@val_corr</td>
                            }
                        </tr>
                    }
            </tbody>
        </table>*@
        </div>
    </div>
</div>
<div style="clear: both;">&nbsp;
        </div>

<script type="text/javascript" src="~/Scripts/jquery.dropdown.js"></script>
<script type="text/javascript">

    $(function () {

        $('#cd-dropdown').dropdown({
            gutter: 5,
            stack: false,
            delay: 100,
            slidingIn: 100
        });

    });

</script>