﻿@model SiteWeb.ViewModels.SiteVM
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Kozei - Gestion de Fonds</title>
    <link rel="icon" type="image/png" href="~/Content/images/favicon.png" />
    <link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css" />
    @System.Web.Optimization.Styles.Render("~/bundles/css")
    @System.Web.Optimization.Scripts.Render("~/bundles/js")
</head>
<body>
    <div id="wrapper">
        <div id="header-wrapper">
            <div id="header">
                <div id="logo">
                    <h1><a href="#">Kozei</a></h1>
                    <p>Gestion de Fonds</p>
                </div>
            </div>
        </div>
        <!-- end #header -->
        <div id="menu-wrapper">
            <ul id="menu">
                <li class="@Model.menu.classHome"><a href="/Home/Index"><span>Accueil</span></a></li>
                <li class="@Model.menu.classPricing"><a href="/Pricing/"><span>Couverture</span></a></li>
                <li class="@Model.menu.classActifs"><a href="/Actifs"><span>Actifs</span></a></li>
                <li class="@Model.menu.classDonneesFinancieres"><a href="/DonneesFinancieres/"><span>Données financières</span></a></li>
            </ul>
            <script type="text/javascript">
                $('#menu').dropotron();
            </script>
        </div>
        <!-- end #menu -->
        <div>
            @RenderBody()
        </div>
    </div>

    <div id="footer">
        <p>&copy; @DateTime.Now.Year - Site de gestion du Fonds KOZEI</p>
    </div>
    <!-- end #footer -->
</body>
</html>